In [64]:
import tweepy
import pandas as pd
import json
import matplotlib.pyplot as plt

# Make the graphs prettier
pd.set_option('display.mpl_style', 'default')

In [65]:
settings = json.load(open('settings.json', 'r'))
twitter_settings = settings['twitter']

In [66]:
#Use tweepy.OAuthHandler to create an authentication using the given key and secret
auth = tweepy.OAuthHandler(twitter_settings['client_id'], twitter_settings['client_secret'])

#Connect to the Twitter API using the authentication      \
api = tweepy.API(auth)

In [67]:
results = []

#Get the first 5000 items based on the search query
for tweet in tweepy.Cursor(api.search, q='%23robbery San Francisco').items():
    results.append(tweet)

In [68]:
# Verify the number of items returned
print len(results)

1

In [69]:
# Create a function to convert a given list of tweets into a Pandas DataFrame.
# The DataFrame will consist of only the values, which I think might be useful for 
# analysis...

def toDataFrame(tweets):
    DataSet = pd.DataFrame()
    DataSet['tweetID'] = [tweet.id for tweet in tweets]
    DataSet['tweetText'] = [tweet.text for tweet in tweets]
    DataSet['tweetRetweetCt'] = [tweet.retweet_count for tweet in tweets]
    DataSet['tweetFavoriteCt'] = [tweet.favorite_count for tweet in tweets]
    DataSet['tweetSource'] = [tweet.source for tweet in tweets]
    DataSet['tweetCreated'] = [tweet.created_at for tweet in tweets]
    DataSet['userID'] = [tweet.user.id for tweet in tweets]
    DataSet['userScreen'] = [tweet.user.screen_name for tweet in tweets]
    DataSet['userName'] = [tweet.user.name for tweet in tweets]
    DataSet['userCreateDt'] = [tweet.user.created_at for tweet in tweets]
    DataSet['userDesc'] = [tweet.user.description for tweet in tweets]
    DataSet['userFollowerCt'] = [tweet.user.followers_count for tweet in tweets]
    DataSet['userFriendsCt'] = [tweet.user.friends_count for tweet in tweets]
    DataSet['userLocation'] = [tweet.user.location for tweet in tweets]
    DataSet['userTimezone'] = [tweet.user.time_zone for tweet in tweets]

    return DataSet

#Pass the tweets list to the above function to create a DataFrame


DataSet = toDataFrame(results)

In [70]:
# Let's check the top 5 records in the Data Set
DataSet.head(5)

,tweetID,tweetText,tweetRetweetCt,tweetFavoriteCt,tweetSource,tweetCreated,userID,userScreen,userName,userCreateDt,userDesc,userFollowerCt,userFriendsCt,userLocation,userTimezone
0,686937171866062849,Brazen San #Francisco #robbery leaves 2-year-o...,0,0,Crime News Updates,2016-01-12 15:45:59,100986964,PulpNews,PulpNews Crime,2010-01-01 14:32:20,The Fastest Crime News Updates on the Planet! ...,3889,806,USA,Eastern Time (US & Canada)

In [59]:
#Pass the tweets list to the above function to create a DataFrame
for tweet in results:
        print tweet.created_at, tweet.text, tweet.user.location
        
#DataSet = toDataFrame(results)

2016-01-12 15:45:59 Brazen San #Francisco #robbery leaves 2-year-old girl injured - Jan 12 @ 10:45 AM ET  https://t.co/gZsHpmJVMf USA

In [71]:







# Count the number of tweets in each time zone and get the first 10
tzs = DataSet['userTimezone'].value_counts()[:10]
print tzs

Eastern Time (US & Canada)    1
Name: userTimezone, dtype: int64

In [72]:
# Create a bar-graph figure of the specified size
plt.rcParams['figure.figsize'] = (15, 5)

# Plot the Time Zone data as a bar-graph
tzs.plot(kind='bar')


# Assign labels and title to the graph to make it more presentable
plt.xlabel('Timezones')
plt.ylabel('Tweet Count')
plt.title('Top 10 Timezones tweeting about #Oscars2015')

In [30]:
# 'None' is treated as null here, so I'll remove all the records having 'None' in their 'userTimezone' column
DataSet = DataSet[DataSet.userTimezone.notnull()]

# Let's also check how many records are we left with now
len(DataSet)

652