In [2]:
import tweepy
import pandas as pd
import json
import csv
import matplotlib.pyplot as plt

# Make the graphs prettier
pd.set_option('display.mpl_style', 'default')

In [3]:
settings = json.load(open('settings.json', 'r'))
twitter_settings = settings['twitter']

In [4]:
#Use tweepy.OAuthHandler to create an authentication using the given key and secret
auth = tweepy.OAuthHandler(twitter_settings['client_id'], twitter_settings['client_secret'])

#Connect to the Twitter API using the authentication      \
api = tweepy.API(auth)

In [5]:
# Open/Create a file to append data
csvFile = open('tweets.csv', 'a')

#Use csv Writer
csvWriter = csv.writer(csvFile)

In [16]:
results = []

#Get the first 5000 items based on the search query
for tweet in tweepy.Cursor(api.search, q='%23robbery San Francisco').items(5000):
    csvWriter.writerow([tweet.created_at, tweet.text.encode('utf-8'),tweet.user.location])
    results.append(tweet)
# Verify the number of items returned
print len(results)

0

In [10]:
# Create a function to convert a given list of tweets into a Pandas DataFrame.
# The DataFrame will consist of only the values, which I think might be useful for 
# analysis...

def toDataFrame(tweets):
    DataSet = pd.DataFrame()
    DataSet['tweetID'] = [tweet.id for tweet in tweets]
    DataSet['tweetText'] = [tweet.text for tweet in tweets]
    DataSet['tweetRetweetCt'] = [tweet.retweet_count for tweet in tweets]
    DataSet['tweetFavoriteCt'] = [tweet.favorite_count for tweet in tweets]
    DataSet['tweetSource'] = [tweet.source for tweet in tweets]
    DataSet['tweetCreated'] = [tweet.created_at for tweet in tweets]
    DataSet['userID'] = [tweet.user.id for tweet in tweets]
    DataSet['userScreen'] = [tweet.user.screen_name for tweet in tweets]
    DataSet['userName'] = [tweet.user.name for tweet in tweets]
    DataSet['userCreateDt'] = [tweet.user.created_at for tweet in tweets]
    DataSet['userDesc'] = [tweet.user.description for tweet in tweets]
    DataSet['userFollowerCt'] = [tweet.user.followers_count for tweet in tweets]
    DataSet['userFriendsCt'] = [tweet.user.friends_count for tweet in tweets]
    DataSet['userLocation'] = [tweet.user.location for tweet in tweets]
    DataSet['userTimezone'] = [tweet.user.time_zone for tweet in tweets]

    return DataSet

#Pass the tweets list to the above function to create a DataFrame


DataSet = toDataFrame(results)

In [11]:
# Let's check the top 5 records in the Data Set
DataSet.head(5)

,tweetID,tweetText,tweetRetweetCt,tweetFavoriteCt,tweetSource,tweetCreated,userID,userScreen,userName,userCreateDt,userDesc,userFollowerCt,userFriendsCt,userLocation,userTimezone
0,690348254723248130,Not all Asians know martial art JT BRUUUH #asi...,0,0,Vine - Make a Scene,2016-01-22 01:40:24,3145813374,F66Ryo,Ryooo,2015-04-09 08:41:13,#hiphop #edm #音楽 #music 好き #followme !! /MC梁瑠 ...,143,147,,None
1,690346909580525568,Melo starts the Allstar game instead of DeMar?...,0,0,Twitter for iPhone,2016-01-22 01:35:03,3249481638,luca_achille98,Luca Bozzetto,2015-06-19 06:10:01,,20,28,,None
2,690345930969747461,#GermanVillage: #Robbery victim reports purse ...,0,0,Twitter Web Client,2016-01-22 01:31:10,82662452,TWFoodWine,Food and Wine,2009-10-15 17:06:33,Sharing news and updates about the central Ohi...,1521,1221,Columbus,Central Time (US & Canada)
3,690344962291011586,RT @RockfordScanner: #RockfordScanner Victim f...,3,0,Twitter Web Client,2016-01-22 01:27:19,285636756,HelpforBear,Charlene R.,2011-04-21 14:28:37,I'm just me. I don't want or need fancy things...,3060,3168,Illinois,Central Time (US & Canada)
4,690342744594739202,Three arrested following #robbery of card game...,0,0,Crime News Updates,2016-01-22 01:18:30,100986964,PulpNews,PulpNews Crime,2010-01-01 14:32:20,The Fastest Crime News Updates on the Planet! ...,3889,806,USA,Eastern Time (US & Canada)

## let's try to connect to the database

In [1]:







try:
    conn = psycopg2.connect("dbname=tweet user=postgres password=po$t host=localhost")
    print "connected"
except:
    print "unable to connect"
    
    
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
## df is any pandas dataframe 
tweet_term_table.to_sql('tweet_term_table', engine, if_exists='replace')

unable to connect

In [9]:
#Pass the tweets list to the above function to create a DataFrame
for tweet in results:
        print tweet.created_at, tweet.text, tweet.user.location
        
#DataSet = toDataFrame(results)

In [71]:







# Count the number of tweets in each time zone and get the first 10
tzs = DataSet['userTimezone'].value_counts()[:10]
print tzs

Eastern Time (US & Canada)    1
Name: userTimezone, dtype: int64

In [72]:
# Create a bar-graph figure of the specified size23theft
plt.rcParams['figure.figsize'] = (15, 5)

# Plot the Time Zone data as a bar-graph
tzs.plot(kind='bar')


# Assign labels and title to the graph to make it more presentable
plt.xlabel('Timezones')
plt.ylabel('Tweet Count')
plt.title('Top 10 Timezones tweeting about #Oscars2015')

In [30]:
# 'None' is treated as null here, so I'll remove all the records having 'None' in their 'userTimezone' column
DataSet = DataSet[DataSet.userTimezone.notnull()]

# Let's also check how many records are we left with now
len(DataSet)

652