## 1.1 IMPORT LIBRARIES

In [12]:
import pandas as pd
import csv
import sys
import numpy as np
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
import matplotlib.pyplot as plt
maxInt = sys.maxsize
decrement = True
while decrement:
    # decrease the maxInt value by factor 10 
    # as long as the OverflowError occurs.
    decrement = False
    try:
        csv.field_size_limit(maxInt)
    except OverflowError:
        maxInt = int(maxInt/10)
        decrement = True

### 1.2 read the DB

In [5]:
 # Connect to the DB first
dbname = 'gdelt_db'
username = 'martin'
my_password='po$t'
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,my_password,dbname))

columns = ['edate','numarts', 'count', 'number','otype', 'gtype', 'gname', 'geocc', 'geoamdcode','geolat','geolon']
df = pd.DataFrame(columns=columns)

In [7]:
 
try:
    db_con = None
    db_con = psycopg2.connect(database=dbname, user=username, password=my_password)
    #cursor = db_con.cursor()
    #cursor.execute("SELECT * FROM gdelt;")
    #print(cursor.fetchone())
    #data = cursor.fetchall()
    # let's import the ones from Mx only
    #df = pd.read_sql_query("SELECT edate,numarts,count,otype,gname,geocc,geolat,geolon FROM gdelt where number<'90' and gtype>'3';", engine)
    query = "SELECT DISTINCT gname FROM gdelt;"
    df = pd.read_sql_query(query, engine)
    
    #df = pd.read_sql_query("SELECT * FROM gdelt;", engine)   
except psycopg2.DatabaseError as e: 
    print ('Error %s' % e)
    sys.exit(1)
finally:
    if db_con:
        db_con.close()
df.head(10)

                                       gname
0        Redding, Connecticut, United States
1  East Hartford, Connecticut, United States
2      Scaddan, Western Australia, Australia
3                     Ramadi, Al Anbar, Iraq
4       Gundaroo, New South Wales, Australia
5                 Sailan, Uttaranchal, India
6                 Bintulu, Sarawak, Malaysia
7      Grand Rapids, Michigan, United States
8            Nuristan, Nurestan, Afghanistan
9                       Samalil, ?Ims, Syria

In [8]:
len(df)

11198

In [10]:
file_name = "/Users/martin/Dropbox/a_Insight/a_Project/a_python/e_extra/a_ipython/cities.txt"
df.to_csv(file_name, sep='\t', encoding='utf-8')